@charset "utf-8";
/* 详情列表样式 */
.alarm-content {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px 20px;
	border-radius: 10px;
	background-color: #fff;
	margin-top: 10px;
	overflow: hidden;
}
.alarm-table-toolbar {
	padding: 10px 0 18px;
}

.alarm-table {
	width: 70%;
	border: 1px solid #ADADAD;
}

.alarm-table .alarm-row {
	color: #333;
	font-size: 14px;
	line-height: 1.5;
	border-bottom: 1px solid #ADADAD;
}

.alarm-table .alarm-row:nth-last-child(1) {
	border-bottom: none;
}

.alarm-table .alarm-col {
	padding: 13px 15px;
	border-right: 1px solid #ADADAD;
}

.alarm-table .alarm-col:nth-last-child(1) {
	border-right: none;
}

.alarm-table .col-title {
	text-align: center;
	background-color: #DCDCDC;
	padding: 13px 5px;
	min-height: 48px;
	box-sizing: border-box;
}

.alarm-table .col-title-img {
	height: 170px;
	line-height: 170px;
	padding: 0 15px;
	box-sizing: border-box;
}

.alarm-table .col-title-over {
	height: 80px;
	line-height: 80px;
	padding: 0 15px;
	box-sizing: border-box;
}

.alarm-table .col-title-full {
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ADADAD;
}

.alarm-table .sign-title-img {
	height: 160px;
	line-height: 160px;
	padding: 0 15px;
	box-sizing: border-box;
}

.show-img-list {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.show-img-list .img-box {
	width: 155px;
	height: 136px;
	margin: 0 8px 8px 0;
}

.sign-img-box {
	height: auto;
	width: 80px;
}

.show-img-list .img-box img,
.sign-img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.alarm-table .col-content {
	min-height: 48px;
}

.alarm-table .col-content-over {
	line-height: 80px;
	padding: 0 15px;
	box-sizing: border-box;
	height: 80px;
}

.module-title {
	margin-top: 40px;
}

/* 设备管理详情页面使用者表格样式 */
#userPersonTable {
	padding: 0;
}

#userPersonTable .user-list {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

#userPersonTable .user-list-item {
	width: 50%;
	flex: none;
	border-bottom: 1px solid #ADADAD;
	border-right: 1px solid #ADADAD;
	font-size: 14px;
	color: #333;
	display: -webkit-flex;
	display: flex;
	box-sizing: border-box;
}

#userPersonTable .user-list-item:nth-child(2n) {
	border-right: none;
}

#userPersonTable .list-item-username {
	width: 40%;
	flex: none;
	box-sizing: border-box;
	padding: 13px 15px;
	min-height: 48px;
	line-height: 1.5;
	text-align: center;
	border-right: 1px solid #ADADAD;
}

#userPersonTable .list-item-tel {
	width: 60%;
	flex: none;
	box-sizing: border-box;
	padding: 13px 15px;
	min-height: 48px;
	line-height: 1.5;
}

/* 故障维修状态表格样式 */
#malfunctionTable .malfunction-list .alarm-row {
	border-bottom: 1px solid #ADADAD;
}